# Copyright 2022 Cognite AS

## Import the Libraries and Modules

In [12]:
import os
import sys

In [13]:
module_path = os.path.abspath(os.path.join("../utils"))
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path)

/home/cram/dev/using-cognite-python-sdk/utils

In [14]:
import auth as cauth

## Create the Cognite Client

In [15]:
c = cauth.create_cognite_client(method="client-secret")

/home/cram/dev/using-cognite-python-sdk/.venv/lib/python3.8/site-packages/cognite/client/_cognite_client.py:85: UserWarning: You are using version 2.56.0 of the SDK, however version 2.56.1 is available. Upgrade or set the environment variable 'COGNITE_DISABLE_PYPI_VERSION_CHECK' to suppress this warning.
  self._config = ClientConfig(

## Delete the data in CDF

### Delete using ids

In [17]:
c.sequences.data.retrieve_dataframe(id=2357839693666680,start=0,end=None)

    user  amount
1  user1    3.14
2  user2    2.72

In [18]:
c.sequences.data.delete(id=2357839693666680, rows=[1])

In [19]:
c.sequences.data.retrieve_dataframe(id=2357839693666680,start=0,end=None)

    user  amount
2  user2    2.72

### Delete using a Range

In [10]:
c.time_series.list(external_id_prefix="my_")

TimeSeriesList([<cognite.client.data_classes.time_series.TimeSeries at 0x7fae32853370>])

In [11]:
c.datapoints.delete_range(start=150000000000, end=160000000000, id=5258405260776053)

In [20]:
c.sequences.data.delete_range(id=2357839693666680, start=0, end=None)

In [21]:
c.sequences.data.retrieve_dataframe(id=2357839693666680,start=0,end=None)

Empty DataFrame
Columns: [user, amount]
Index: []

### Delete multiple ranges

In [ ]:
ranges = [{"id": 1, "start": "2d-ago", "end": "now"},
            {"externalId": "abc", "start": "2d-ago", "end": "now"}]
c.datapoints.delete_ranges(ranges)

### Delete various resource types

In [24]:
c.labels.list()

LabelDefinitionList([<cognite.client.data_classes.labels.LabelDefinition at 0x7fae31fb73d0>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7fae31fb7af0>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7fae31fb7a60>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7fae31fb79d0>])

In [23]:
c.labels.delete(external_id=["ROTATING_EQUIPMENT", "PUMP"])

In [9]:
c.assets.delete(id=[2337497105272481,3850461732700104])

In [ ]:
c.assets.delete(id=[1,2,3], external_id="3")

In [ ]:
c.time_series.delete(id=[1,2,3], external_id="3")

In [ ]:
c.sequences.delete(id=[1,2,3], external_id="3")

In [ ]:
c.events.delete(id=[1,2,3], external_id="3")

In [ ]:
c.files.delete(id=[1,2,3], external_id="3")

In [ ]:
c.relationships.delete(external_id=["a","b"])

## Bulk Deletion

How to delete recursively and effectively.

In [25]:
c.assets.retrieve_subtree(external_id="root")

AssetList([<cognite.client.data_classes.assets.Asset at 0x7fae3282e3a0>,
           <cognite.client.data_classes.assets.Asset at 0x7fae31fb70d0>,
           <cognite.client.data_classes.assets.Asset at 0x7fae31fb7790>,
           <cognite.client.data_classes.assets.Asset at 0x7fae31fb7c70>])

In [26]:
# Retrieve a subtree given a root asset and delete root and all subtree assets
empty_asset_list = False
root_asset_ext_id = 'root'
while not(empty_asset_list):
    try:
        subtree_df = c.assets.retrieve(external_id=root_asset_ext_id).subtree().to_pandas()
        non_parent_childs = subtree_df.loc[~subtree_df['id'].isin(subtree_df['parentId'].unique()),:]['id'].tolist()
        c.assets.delete(non_parent_childs)
        empty_asset_list = False
    except:
        empty_asset_list = True
        try:
            c.assets.delete(external_id=root_asset_ext_id)
        except:
            pass

In [27]:
c.assets.list(data_set_external_ids=['root'])

AssetList([])