# 0 Create the Cognite Client

In [1]:
import sys

sys.path.append('..')
from utils.auth import create_cognite_client

client = create_cognite_client()

Opening in existing browser session.

libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)
/home/keepfloyding/.local/lib/python3.10/site-packages/cognite/client/_cognite_client.py:84: UserWarning: You are using version 2.55.0 of the SDK, however version 2.56.1 is available. Upgrade or set the environment variable 'COGNITE_DISABLE_PYPI_VERSION_CHECK' to suppress this warning.
  self._config = ClientConfig(

# 1 Create a data set

In [3]:
from cognite.client.data_classes import DataSet

my_data_set = DataSet(external_id = 'world_info_jack', name = 'world_info_jack', write_protected=True)

created_data_set = client.data_sets.create(my_data_set)

data_set_id = created_data_set.id

print(data_set_id)

6133408726791096

# 2 Create Asset Hierarchy

In [5]:
from cognite.client.data_classes import Asset

# Create Root Asset
root_asset = client.assets.create(Asset(name='world', data_set_id=data_set_id))
root_asset

In [6]:
from cognite.client.data_classes import AssetUpdate

# Update the name of the root asset
my_update = AssetUpdate(id=root_asset.id).name.set("global")
client.assets.update(my_update)

In [8]:
import pandas as pd

# Read country data and see all unique regions
df = pd.read_csv('../data/all_countries.csv')
df['region'].unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas', 'None'],
      dtype=object)

In [13]:
# Create each region as a new asset
store = []
for region in df['region'].unique():
    asset=Asset(name=region, data_set_id=data_set_id,parent_id=root_asset.id)
    store.append(asset)

client.assets.create(store)

AssetList([<cognite.client.data_classes.assets.Asset at 0x7f5effb556c0>,
           <cognite.client.data_classes.assets.Asset at 0x7f5effb549d0>,
           <cognite.client.data_classes.assets.Asset at 0x7f5effb55d20>,
           <cognite.client.data_classes.assets.Asset at 0x7f5effb55de0>,
           <cognite.client.data_classes.assets.Asset at 0x7f5effb55120>,
           <cognite.client.data_classes.assets.Asset at 0x7f5effb55cc0>])

In [17]:
# Find the mapping between the region level asset and its id
region_to_id = client.assets.list(data_set_ids=[data_set_id]).to_pandas()[['name','id']].set_index('name')['id'].to_dict()
region_to_id

{'Africa': 7860216995992688,
 'world': 990674513871418,
 'Asia': 3956719264398039,
 'Americas': 7039848497891817,
 'Oceania': 8988177472119253,
 'global': 4814454518239648,
 'Europe': 7957777709733657,
 'None': 8367044107042036}

In [18]:
# Find all countries and which regions they belong to
countries_to_regions = df[['name','region']].set_index('name').to_dict()['region']
countries_to_regions

{'Afghanistan': 'Asia',
 'Åland Islands': 'Europe',
 'Albania': 'Europe',
 'Algeria': 'Africa',
 'American Samoa': 'Oceania',
 'Andorra': 'Europe',
 'Angola': 'Africa',
 'Anguilla': 'Americas',
 'Antarctica': 'None',
 'Antigua and Barbuda': 'Americas',
 'Argentina': 'Americas',
 'Armenia': 'Asia',
 'Aruba': 'Americas',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Azerbaijan': 'Asia',
 'Bahamas': 'Americas',
 'Bahrain': 'Asia',
 'Bangladesh': 'Asia',
 'Barbados': 'Americas',
 'Belarus': 'Europe',
 'Belgium': 'Europe',
 'Belize': 'Americas',
 'Benin': 'Africa',
 'Bermuda': 'Americas',
 'Bhutan': 'Asia',
 'Bolivia (Plurinational State of)': 'Americas',
 'Bonaire, Sint Eustatius and Saba': 'Americas',
 'Bosnia and Herzegovina': 'Europe',
 'Botswana': 'Africa',
 'Bouvet Island': 'Americas',
 'Brazil': 'Americas',
 'British Indian Ocean Territory': 'Africa',
 'Brunei Darussalam': 'Asia',
 'Bulgaria': 'Europe',
 'Burkina Faso': 'Africa',
 'Burundi': 'Africa',
 'Cabo Verde': 'Africa',
 'Cambodia': 'Asia',
 'Cameroon': 'Africa',
 'Canada': 'Americas',
 'Cayman Islands': 'Americas',
 'Central African Republic': 'Africa',
 'Chad': 'Africa',
 'Chile': 'Americas',
 'China': 'Asia',
 'Christmas Island': 'Oceania',
 'Cocos (Keeling) Islands': 'Oceania',
 'Colombia': 'Americas',
 'Comoros': 'Africa',
 'Congo': 'Africa',
 'Congo, Democratic Republic of the': 'Africa',
 'Cook Islands': 'Oceania',
 'Costa Rica': 'Americas',
 "Côte d'Ivoire": 'Africa',
 'Croatia': 'Europe',
 'Cuba': 'Americas',
 'Curaçao': 'Americas',
 'Cyprus': 'Asia',
 'Czechia': 'Europe',
 'Denmark': 'Europe',
 'Djibouti': 'Africa',
 'Dominica': 'Americas',
 'Dominican Republic': 'Americas',
 'Ecuador': 'Americas',
 'Egypt': 'Africa',
 'El Salvador': 'Americas',
 'Equatorial Guinea': 'Africa',
 'Eritrea': 'Africa',
 'Estonia': 'Europe',
 'Eswatini': 'Africa',
 'Ethiopia': 'Africa',
 'Falkland Islands (Malvinas)': 'Americas',
 'Faroe Islands': 'Europe',
 'Fiji': 'Oceania',
 'Finland': 'Europe',
 'France': 'Europe',
 'French Guiana': 'Americas',
 'French Polynesia': 'Oceania',
 'French Southern Territories': 'Africa',
 'Gabon': 'Africa',
 'Gambia': 'Africa',
 'Georgia': 'Asia',
 'Germany': 'Europe',
 'Ghana': 'Africa',
 'Gibraltar': 'Europe',
 'Greece': 'Europe',
 'Greenland': 'Americas',
 'Grenada': 'Americas',
 'Guadeloupe': 'Americas',
 'Guam': 'Oceania',
 'Guatemala': 'Americas',
 'Guernsey': 'Europe',
 'Guinea': 'Africa',
 'Guinea-Bissau': 'Africa',
 'Guyana': 'Americas',
 'Haiti': 'Americas',
 'Heard Island and McDonald Islands': 'Oceania',
 'Holy See': 'Europe',
 'Honduras': 'Americas',
 'Hong Kong': 'Asia',
 'Hungary': 'Europe',
 'Iceland': 'Europe',
 'India': 'Asia',
 'Indonesia': 'Asia',
 'Iran (Islamic Republic of)': 'Asia',
 'Iraq': 'Asia',
 'Ireland': 'Europe',
 'Isle of Man': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 'Jamaica': 'Americas',
 'Japan': 'Asia',
 'Jersey': 'Europe',
 'Jordan': 'Asia',
 'Kazakhstan': 'Asia',
 'Kenya': 'Africa',
 'Kiribati': 'Oceania',
 "Korea (Democratic People's Republic of)": 'Asia',
 'Korea, Republic of': 'Asia',
 'Kuwait': 'Asia',
 'Kyrgyzstan': 'Asia',
 "Lao People's Democratic Republic": 'Asia',
 'Latvia': 'Europe',
 'Lebanon': 'Asia',
 'Lesotho': 'Africa',
 'Liberia': 'Africa',
 'Libya': 'Africa',
 'Liechtenstein': 'Europe',
 'Lithuania': 'Europe',
 'Luxembourg': 'Europe',
 'Macao': 'Asia',
 'Madagascar': 'Africa',
 'Malawi': 'Africa',
 'Malaysia': 'Asia',
 'Maldives': 'Asia',
 'Mali': 'Africa',
 'Malta': 'Europe',
 'Marshall Islands': 'Oceania',
 'Martinique': 'Americas',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Mayotte': 'Africa',
 'Mexico': 'Americas',
 'Micronesia (Federated States of)': 'Oceania',
 'Moldova, Republic of': 'Europe',
 'Monaco': 'Europe',
 'Mongolia': 'Asia',
 'Montenegro': 'Europe',
 'Montserrat': 'Americas',
 'Morocco': 'Africa',
 'Mozambique': 'Africa',
 'Myanmar': 'Asia',
 'Namibia': 'Africa',
 'Nauru': 'Oceania',
 'Nepal': 'Asia',
 'Netherlands': 'Europe',
 'New Caledonia': 'Oceania',
 'New Zealand': 'Oceania',
 'Nicaragua': 'Americas',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Niue': 'Oceania',
 'Norfolk Island': 'Oceania',
 'North Macedonia': 'Europe',
 'Northern Mariana Islands': 'Oceania',
 'Norway': 'Europe',
 'Oman': 'Asia',
 'Pakistan': 'Asia',
 'Palau': 'Oceania',
 'Palestine, State of': 'Asia',
 'Panama': 'Americas',
 'Papua New Guinea': 'Oceania',
 'Paraguay': 'Americas',
 'Peru': 'Americas',
 'Philippines': 'Asia',
 'Pitcairn': 'Oceania',
 'Poland': 'Europe',
 'Portugal': 'Europe',
 'Puerto Rico': 'Americas',
 'Qatar': 'Asia',
 'Réunion': 'Africa',
 'Romania': 'Europe',
 'Russian Federation': 'Europe',
 'Rwanda': 'Africa',
 'Saint Barthélemy': 'Americas',
 'Saint Helena, Ascension and Tristan da Cunha': 'Africa',
 'Saint Kitts and Nevis': 'Americas',
 'Saint Lucia': 'Americas',
 'Saint Martin (French part)': 'Americas',
 'Saint Pierre and Miquelon': 'Americas',
 'Saint Vincent and the Grenadines': 'Americas',
 'Samoa': 'Oceania',
 'San Marino': 'Europe',
 'Sao Tome and Principe': 'Africa',
 'Saudi Arabia': 'Asia',
 'Senegal': 'Africa',
 'Serbia': 'Europe',
 'Seychelles': 'Africa',
 'Sierra Leone': 'Africa',
 'Singapore': 'Asia',
 'Sint Maarten (Dutch part)': 'Americas',
 'Slovakia': 'Europe',
 'Slovenia': 'Europe',
 'Solomon Islands': 'Oceania',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'South Georgia and the South Sandwich Islands': 'Americas',
 'South Sudan': 'Africa',
 'Spain': 'Europe',
 'Sri Lanka': 'Asia',
 'Sudan': 'Africa',
 'Suriname': 'Americas',
 'Svalbard and Jan Mayen': 'Europe',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Syrian Arab Republic': 'Asia',
 'Taiwan, Province of China': 'Asia',
 'Tajikistan': 'Asia',
 'Tanzania, United Republic of': 'Africa',
 'Thailand': 'Asia',
 'Timor-Leste': 'Asia',
 'Togo': 'Africa',
 'Tokelau': 'Oceania',
 'Tonga': 'Oceania',
 'Trinidad and Tobago': 'Americas',
 'Tunisia': 'Africa',
 'Turkey': 'Asia',
 'Turkmenistan': 'Asia',
 'Turks and Caicos Islands': 'Americas',
 'Tuvalu': 'Oceania',
 'Uganda': 'Africa',
 'Ukraine': 'Europe',
 'United Arab Emirates': 'Asia',
 'United Kingdom of Great Britain and Northern Ireland': 'Europe',
 'United States of America': 'Americas',
 'United States Minor Outlying Islands': 'Oceania',
 'Uruguay': 'Americas',
 'Uzbekistan': 'Asia',
 'Vanuatu': 'Oceania',
 'Venezuela (Bolivarian Republic of)': 'Americas',
 'Viet Nam': 'Asia',
 'Virgin Islands (British)': 'Americas',
 'Virgin Islands (U.S.)': 'Americas',
 'Wallis and Futuna': 'Oceania',
 'Western Sahara': 'Africa',
 'Yemen': 'Asia',
 'Zambia': 'Africa',
 'Zimbabwe': 'Africa'}

In [19]:
# Create an asset for each country
store = []
for country in countries_to_regions:
    
    region = countries_to_regions[country]
    asset=Asset(name=country, data_set_id=data_set_id,parent_id=region_to_id[region])
    store.append(asset)
    
client.assets.create(store)

In [21]:
# Find all assets in the Europe region
client.assets.list(data_set_ids=[data_set_id],parent_ids=[region_to_id['Europe']],limit=-1).to_pandas()

,name,parentId,dataSetId,metadata,id,createdTime,lastUpdatedTime,rootId
0,"Moldova, Republic of",7957777709733657,6133408726791096,{},6887440463175,1659027641778,1659027641778,4814454518239648
1,Svalbard and Jan Mayen,7957777709733657,6133408726791096,{},698806610782864,1659027647310,1659027647310,4814454518239648
2,Norway,7957777709733657,6133408726791096,{},705530469890494,1659027643397,1659027643397,4814454518239648
3,Malta,7957777709733657,6133408726791096,{},882307798078568,1659027641134,1659027641134,4814454518239648
4,Slovakia,7957777709733657,6133408726791096,{},918294277087161,1659027646376,1659027646376,4814454518239648
5,Bulgaria,7957777709733657,6133408726791096,{},982652123952713,1659027633568,1659027633568,4814454518239648
6,Hungary,7957777709733657,6133408726791096,{},996666741032903,1659027638471,1659027638471,4814454518239648
7,Croatia,7957777709733657,6133408726791096,{},1202254073563557,1659027635028,1659027635028,4814454518239648
8,Slovenia,7957777709733657,6133408726791096,{},1236641090165021,1659027646489,1659027646489,4814454518239648
9,Jersey,7957777709733657,6133408726791096,{},1487206610269610,1659027639390,1659027639390,4814454518239648
10,Belgium,7957777709733657,6133408726791096,{},1755314748582679,1659027632561,1659027632561,4814454518239648
11,Austria,7957777709733657,6133408726791096,{},2001584123701930,1659027631972,1659027631972,4814454518239648
12,Holy See,7957777709733657,6133408726791096,{},2007875619636540,1659027638218,1659027638218,4814454518239648
13,Switzerland,7957777709733657,6133408726791096,{},2309077210426127,1659027647483,1659027647483,4814454518239648
14,Gibraltar,7957777709733657,6133408726791096,{},2380489456619963,1659027637304,1659027637304,4814454518239648
15,North Macedonia,7957777709733657,6133408726791096,{},2381023572254206,1659027643273,1659027643273,4814454518239648
16,Serbia,7957777709733657,6133408726791096,{},2725709788151657,1659027645985,1659027645985,4814454518239648
17,San Marino,7957777709733657,6133408726791096,{},2792236756624337,1659027645651,1659027645651,4814454518239648
18,Liechtenstein,7957777709733657,6133408726791096,{},2869036765509287,1659027640476,1659027640476,4814454518239648
19,Netherlands,7957777709733657,6133408726791096,{},3127217021657344,1659027642659,1659027642659,4814454518239648
20,Sweden,7957777709733657,6133408726791096,{},3266538645356720,1659027647399,1659027647399,4814454518239648
21,France,7957777709733657,6133408726791096,{},3412566211866620,1659027636665,1659027636665,4814454518239648
22,Monaco,7957777709733657,6133408726791096,{},3475940053021682,1659027641841,1659027641841,4814454518239648
23,United Kingdom of Great Britain and Northern I...,7957777709733657,6133408726791096,{},4121340865573829,1659027649085,1659027649085,4814454518239648
24,Latvia,7957777709733657,6133408726791096,{},4309592236466757,1659027640119,1659027640119,4814454518239648
25,Greece,7957777709733657,6133408726791096,{},5007573311330472,1659027637363,1659027637363,4814454518239648
26,Estonia,7957777709733657,6133408726791096,{},5073029029454551,1659027636129,1659027636129,4814454518239648
27,Finland,7957777709733657,6133408726791096,{},5277425929393244,1659027636580,1659027636580,4814454518239648
28,Denmark,7957777709733657,6133408726791096,{},5502091085967607,1659027635392,1659027635392,4814454518239648
29,Belarus,7957777709733657,6133408726791096,{},5781779931081017,1659027632479,1659027632479,4814454518239648
30,Isle of Man,7957777709733657,6133408726791096,{},5889690213646548,1659027638992,1659027638992,4814454518239648
31,Iceland,7957777709733657,6133408726791096,{},6169776311653714,1659027638553,1659027638553,4814454518239648
32,Andorra,7957777709733657,6133408726791096,{},6379142196133863,1659027631235,1659027631235,4814454518239648
33,Germany,7957777709733657,6133408726791096,{},6569235071311466,1659027637179,1659027637179,4814454518239648
34,Guernsey,7957777709733657,6133408726791096,{},6757514378085297,1659027637781,1659027637781,4814454518239648
35,Czechia,7957777709733657,6133408726791096,{},7006214956792692,1659027635314,1659027635314,4814454518239648
36,Ireland,7957777709733657,6133408726791096,{},7036893375969621,1659027638901,1659027638901,4814454518239648
37,Montenegro,7957777709733657,6133408726791096,{},7196977210696051,1659027642002,1659027642002,4814454518239648
38,Faroe Islands,7957777709733657,6133408726791096,{},7755280050007263,1659027636400,1659027636400,4814454518239648
39,Poland,7957777709733657,6133408726791096,{},7769313862680725,1659027644357,1659027644357,4814454518239648
40,Luxembourg,7957777709733657,6133408726791096,{},7785247772014513,1659027640619,1659027640619,4814454518239648
41,Ukraine,7957777709733657,6133408726791096,{},7835426315323015,1659027648902,1659027648902,4814454518239648
42,Portugal,7957777709733657,6133408726791096,{},8022290218554857,1659027644460,1659027644460,4814454518239648
43,Lithuania,7957777709733657,6133408726791096,{},8081514167168403,1659027640546,1659027640546,4814454518239648
44,Romania,7957777709733657,6133408726791096,{},8184649327214341,1659027644758,1659027644758,4814454518239648
45,Russian Federation,7957777709733657,6133408726791096,{},8225129256425810,1659027644827,1659027644827,4814454518239648
46,Albania,7957777709733657,6133408726791096,{},8462051300313348,1659027630880,1659027630880,4814454518239648
47,Italy,7957777709733657,6133408726791096,{},8466638942579644,1659027639146,1659027639146,4814454518239648
48,Bosnia and Herzegovina,7957777709733657,6133408726791096,{},8565969834023853,1659027633121,1659027633121,4814454518239648
49,Åland Islands,7957777709733657,6133408726791096,{},8609129927146883,1659027630749,1659027630749,4814454518239648
50,Spain,7957777709733657,6133408726791096,{},8752177333776915,1659027646934,1659027646934,4814454518239648

# 3 Adding Time Series Data

In [32]:
# Read population data
df= pd.read_csv('../data/populations_postprocessed.csv', index_col=0)
df.head()

,Aruba,Afghanistan,Angola,Albania,Andorra,United Arab Emirates,Argentina,Armenia,American Samoa,Antigua and Barbuda,...,Uganda,Ukraine,Uruguay,Uzbekistan,Virgin Islands (U.S.),Vanuatu,Samoa,South Africa,Zambia,Zimbabwe
1990-01-01,62152.0,12412311.0,11848385.0,3286542.0,54508.0,1828437.0,32618648.0,3538164.0,47351.0,62533.0,...,17354395.0,51891400.0,3109598.0,20510000.0,103963.0,146575.0,162797.0,36800507.0,8036849.0,10432409.0
1991-01-01,64623.0,13299016.0,12248901.0,3266790.0,56666.0,1937159.0,33079002.0,3505249.0,48682.0,63363.0,...,17953534.0,52000500.0,3131657.0,20952000.0,104807.0,150718.0,164000.0,37718952.0,8246662.0,10681008.0
1992-01-01,68240.0,14485543.0,12657361.0,3247039.0,58882.0,2052892.0,33529320.0,3442820.0,49900.0,64459.0,...,18561668.0,52150400.0,3154459.0,21449000.0,105712.0,155176.0,165490.0,38672611.0,8451346.0,10900511.0
1993-01-01,72495.0,15816601.0,13075044.0,3227287.0,60974.0,2173135.0,33970103.0,3363111.0,51025.0,65777.0,...,19175986.0,52179200.0,3177734.0,21942000.0,106578.0,159743.0,167117.0,39633754.0,8656484.0,11092775.0
1994-01-01,76705.0,17075728.0,13503753.0,3207536.0,62676.0,2294377.0,34402669.0,3283664.0,52099.0,67201.0,...,19793541.0,51921400.0,3201149.0,22377000.0,107318.0,164128.0,168689.0,40564061.0,8869745.0,11261752.0

In [25]:
# Find mapping of country to its id
country_to_id = client.assets.list(data_set_ids=[data_set_id], limit=-1).to_pandas()[['name','id']].set_index('name')['id'].to_dict()

country_to_id

{'Moldova, Republic of': 6887440463175,
 'Mauritius': 24245784711959,
 'Kenya': 118043905096570,
 'Thailand': 144564637701025,
 'Tonga': 161447343836851,
 'Africa': 7860216995992688,
 'Botswana': 214830130247617,
 'Azerbaijan': 220740559462349,
 'Tunisia': 233460106802571,
 'Burkina Faso': 272119597883532,
 'Lesotho': 294571079576969,
 'Georgia': 331705715305538,
 'Ethiopia': 528038785850175,
 'Bhutan': 629634915222618,
 'Grenada': 672828489854230,
 'Svalbard and Jan Mayen': 698806610782864,
 'Norway': 705530469890494,
 'Canada': 776249613319493,
 'Fiji': 810702146085903,
 'Western Sahara': 837959032873187,
 'Cocos (Keeling) Islands': 877582077071674,
 "Lao People's Democratic Republic": 881853517011061,
 'Malta': 882307798078568,
 'Guam': 913610326884313,
 'Eswatini': 914118173071515,
 'Slovakia': 918294277087161,
 'Uruguay': 942141643860658,
 'Bulgaria': 982652123952713,
 'world': 990674513871418,
 'Hungary': 996666741032903,
 'French Guiana': 1007190471634089,
 'Kuwait': 1055965341421387,
 'Mozambique': 1088861077683407,
 'El Salvador': 1182071137762446,
 'Croatia': 1202254073563557,
 'Slovenia': 1236641090165021,
 'Pakistan': 1238316109247423,
 'French Polynesia': 1263470999333507,
 'Virgin Islands (U.S.)': 1268727042594202,
 'Angola': 1276279265438934,
 'Saint Vincent and the Grenadines': 1370895107828612,
 'Kyrgyzstan': 1426780301662161,
 'Madagascar': 1479761005939574,
 'Jersey': 1487206610269610,
 'Turkmenistan': 1545507411838112,
 'Equatorial Guinea': 1597536939079317,
 'New Caledonia': 1654736838902057,
 'Suriname': 1696854114822440,
 'Ecuador': 1733631535305719,
 'Belgium': 1755314748582679,
 'Kazakhstan': 1764685715839875,
 'South Africa': 1808591083555574,
 'Indonesia': 1825068911210960,
 'Austria': 2001584123701930,
 'Holy See': 2007875619636540,
 'Maldives': 2185044432594087,
 'Martinique': 2202933601202255,
 'Iran (Islamic Republic of)': 2227458109882707,
 'Tokelau': 2280177568672628,
 'Switzerland': 2309077210426127,
 'Central African Republic': 2318804108831980,
 'Afghanistan': 2356719482572089,
 'Virgin Islands (British)': 2371357686428848,
 'Gibraltar': 2380489456619963,
 'North Macedonia': 2381023572254206,
 'Rwanda': 2403932447256696,
 'Uzbekistan': 2412171531534375,
 'Malaysia': 2417438433323917,
 'Nicaragua': 2433937296694146,
 'Wallis and Futuna': 2444118706835814,
 'Bouvet Island': 2464471600895429,
 'Papua New Guinea': 2482798094936737,
 'Bangladesh': 2610898449590664,
 'Serbia': 2725709788151657,
 'San Marino': 2792236756624337,
 'Honduras': 2858145836265951,
 'Liechtenstein': 2869036765509287,
 'Tuvalu': 2873471361968541,
 'Greenland': 2881870193972262,
 'Asia': 3956719264398039,
 'American Samoa': 3020076806477183,
 'Israel': 3060951161157031,
 'Micronesia (Federated States of)': 3106760256184546,
 'Netherlands': 3127217021657344,
 'Aruba': 3132599988801875,
 'Argentina': 3162270482403532,
 'Burundi': 3205136625575910,
 'Palau': 3229201401889995,
 'Sweden': 3266538645356720,
 'Somalia': 3276128708436065,
 'Americas': 7039848497891817,
 'Yemen': 3281379809733736,
 'Hong Kong': 3322894891521173,
 'Egypt': 3364913767197045,
 'France': 3412566211866620,
 'Norfolk Island': 3413919406987033,
 'Nepal': 3475168934570486,
 'Monaco': 3475940053021682,
 'Saint Lucia': 3495949740717094,
 'Cabo Verde': 3504163689506164,
 'Australia': 3505178741502456,
 'Mali': 3544760019990254,
 'Congo': 3593586907003245,
 'Benin': 3597119721239697,
 "Korea (Democratic People's Republic of)": 3618209674436901,
 'Taiwan, Province of China': 3626963751342954,
 'Guyana': 3674138060701432,
 'Curaçao': 3792045124168954,
 'Iraq': 3808365377716718,
 'Mayotte': 3815444442073304,
 'Tanzania, United Republic of': 3818211197850692,
 'Barbados': 4000101515212874,
 'United Arab Emirates': 4059191389155224,
 'Gambia': 4073426094339910,
 'Turkey': 4093751338776189,
 'United Kingdom of Great Britain and Northern Ireland': 4121340865573829,
 'Macao': 4131760188823878,
 'Venezuela (Bolivarian Republic of)': 4141097934785913,
 'United States Minor Outlying Islands': 4151591925287795,
 'Christmas Island': 4178221663640531,
 'Saint Pierre and Miquelon': 4306816598236055,
 'Latvia': 4309592236466757,
 'Comoros': 4345099986932153,
 'Brazil': 4357536603158175,
 'Saint Kitts and Nevis': 4451402474821461,
 'Peru': 4587322896015993,
 'Oceania': 8988177472119253,
 'Panama': 4601361159752912,
 'Sint Maarten (Dutch part)': 4652621973355101,
 'Belize': 4702340722166674,
 'Cook Islands': 4712361696467107,
 'global': 4814454518239648,
 'Liberia': 4818651891517614,
 'Namibia': 4818863796872622,
 'Europe': 7957777709733657,
 'Djibouti': 4874927806304018,
 'Korea, Republic of': 4883384992531093,
 'Trinidad and Tobago': 4900420241834071,
 'Antigua and Barbuda': 4968279415778144,
 'Puerto Rico': 4988289019609220,
 'Greece': 5007573311330472,
 'Guatemala': 5035023071517444,
 'Guinea-Bissau': 5057991867235037,
 'Estonia': 5073029029454551,
 'Dominica': 5074407992277929,
 'Chile': 5122124911108018,
 'Anguilla': 5148700333105428,
 'Cyprus': 5149705685390221,
 'India': 5203034365557885,
 'Saint Barthélemy': 5226816924264958,
 'Finland': 5277425929393244,
 'Chad': 5417871141212107,
 'Northern Mariana Islands': 5460415162141312,
 'Denmark': 5502091085967607,
 'Togo': 5515752057418286,
 'Costa Rica': 5615935996990149,
 'Montserrat': 5618683597210805,
 'Nigeria': 5654083904250154,
 'Singapore': 5681732610252158,
 'Congo, Democratic Republic of the': 5704263708388922,
 'China': 5734174584772951,
 'Belarus': 5781779931081017,
 'Mongolia': 5788545062428627,
 'Niue': 5824633081094603,
 'None': 8367044107042036,
 'United States of America': 5859721112064634,
 'Syrian Arab Republic': 5880073592813774,
 'Isle of Man': 5889690213646548,
 'Pitcairn': 5902884813557277,
 'Falkland Islands (Malvinas)': 5964762164753640,
 'Iceland': 6169776311653714,
 'Lebanon': 6169896151007776,
 'Sudan': 6295570002056762,
 'Bolivia (Plurinational State of)': 6335913618652331,
 'Marshall Islands': 6342534416423295,
 'Andorra': 6379142196133863,
 'Guadeloupe': 6416192573610989,
 'Bermuda': 6460646692644422,
 'Armenia': 6485702131294808,
 'Vanuatu': 6532609186995507,
 'Kiribati': 6550674040575672,
 'Germany': 6569235071311466,
 'Turks and Caicos Islands': 6571005927383489,
 'Dominican Republic': 6581943081566734,
 'Cambodia': 6582340454172538,
 'Cameroon': 6621089836025471,
 'Saudi Arabia': 6653727174995702,
 'Cayman Islands': 6722820837195864,
 'Guernsey': 6757514378085297,
 'Heard Island and McDonald Islands': 6767881373322387,
 'Cuba': 6768379375804992,
 'Uganda': 6828462369217025,
 'British Indian Ocean Territory': 6885064818397361,
 'Tajikistan': 6951390695652260,
 'Czechia': 7006214956792692,
 'French Southern Territories': 7028762427391860,
 'Ireland': 7036893375969621,
 'Gabon': 7043787384832426,
 'Japan': 7071852468767791,
 'Sierra Leone': 7101194708766828,
 'Solomon Islands': 7108404127388722,
 'Sao Tome and Principe': 7111130398604944,
 'Seychelles': 7134260699575455,
 'Montenegro': 7196977210696051,
 'Paraguay': 7208393808852602,
 'New Zealand': 7217704913407117,
 'Zimbabwe': 7224366115771692,
 'Ghana': 7388798075371047,
 'Antarctica': 7430807635364739,
 'Bahrain': 7448935803715537,
 'Philippines': 7536110475171408,
 'Guinea': 7539444148786035,
 "Côte d'Ivoire": 7564651046363906,
 'Myanmar': 7583180922618167,
 'Libya': 7740897002209748,
 'Palestine, State of': 7741357789342317,
 'Faroe Islands': 7755280050007263,
 'Poland': 7769313862680725,
 'Luxembourg': 7785247772014513,
 'Ukraine': 7835426315323015,
 'South Sudan': 7848346662023019,
 'Mauritania': 7866577235789883,
 'Oman': 7948036722216427,
 'Jordan': 7956844340916093,
 'Portugal': 8022290218554857,
 'Mexico': 8027203221410524,
 'Lithuania': 8081514167168403,
 'Nauru': 8120480638000172,
 'Saint Martin (French part)': 8168246356017542,
 'Romania': 8184649327214341,
 'Sri Lanka': 8221989721590824,
 'Russian Federation': 8225129256425810,
 'Saint Helena, Ascension and Tristan da Cunha': 8228300189611522,
 'Bahamas': 8246975828376151,
 'Qatar': 8257219256407377,
 'Brunei Darussalam': 8329974156125321,
 'Senegal': 8426972255843868,
 'South Georgia and the South Sandwich Islands': 8438510235869912,
 'Albania': 8462051300313348,
 'Italy': 8466638942579644,
 'Jamaica': 8511086797811621,
 'Morocco': 8536662721002550,
 'Bosnia and Herzegovina': 8565969834023853,
 'Haiti': 8569175567511802,
 'Åland Islands': 8609129927146883,
 'Malawi': 8634903437793560,
 'Zambia': 8637004914279868,
 'Algeria': 8647743578034541,
 'Niger': 8675132796685543,
 'Viet Nam': 8708782236462264,
 'Timor-Leste': 8737245382860224,
 'Spain': 8752177333776915,
 'Bonaire, Sint Eustatius and Saba': 8764706842837545,
 'Eritrea': 8782514763883447,
 'Réunion': 8847617844641992,
 'Samoa': 8929267941830694,
 'Colombia': 8966954160601710}

In [26]:
from cognite.client.data_classes import TimeSeries

# Create a time series object for each country to store population data
store = []
for country in df.columns:
    ts = TimeSeries(name=f'{country}_population',data_set_id=data_set_id, asset_id=country_to_id[country])
    store.append(ts)
    
client.time_series.create(store)

TimeSeriesList([<cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc0640>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc1750>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc2410>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc0400>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc1540>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc14b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc02b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc2c50>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc1c60>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc1780>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc0ac0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc03a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc1b70>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbc1300>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcab0d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcab9a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcabe50>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcabd00>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcabbb0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcab2b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcab790>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effcabf10>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe81c0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8ca0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebfd0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8190>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8130>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebf40>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebf10>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebfa0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebf70>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebe80>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebe50>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebee0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebeb0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebdc0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebd90>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebe20>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebdf0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebd00>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebcd0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebd60>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebd30>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebc40>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebc10>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebca0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebc70>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebb80>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebb50>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebbe0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebbb0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebac0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeba90>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebb20>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbebaf0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeba00>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb9d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeba60>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeba30>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb940>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb910>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb9a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb970>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb880>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb850>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb8b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb8e0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb790>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb7c0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb820>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb7f0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb700>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb6d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb760>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb730>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb640>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb550>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb6a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb670>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb340>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb3d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb5e0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb610>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb190>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb1c0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb400>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb160>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb130>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb0d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb370>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb100>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb0a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeafb0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeae30>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeada0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb070>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeb040>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeabc0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeac20>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeae60>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeabf0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeab60>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeab00>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeadd0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeab90>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeaad0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeaa70>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeab30>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeaaa0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea9e0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea9b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeaa40>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbeaa10>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea920>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea8f0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea980>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea950>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea890>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea800>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea8c0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea860>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea7a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea770>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea830>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea7d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea6e0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea6b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea740>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea710>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea620>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea5f0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea680>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea650>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea560>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea530>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea5c0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea590>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea4a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea470>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea500>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea4d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea3e0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea3b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea440>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea410>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea320>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea2f0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea380>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea350>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea260>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea290>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea2c0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbea1d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9f90>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9cf0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9ed0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9f60>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9f00>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9cc0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9d20>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9d50>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8b80>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8bb0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8550>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe9c30>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8b50>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8b20>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8c10>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8e20>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8a60>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8a90>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8af0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8ac0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8a00>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe88b0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8a30>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe89a0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8820>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe87f0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe81f0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe89d0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe88e0>,
                <cognite.client.data_classes.time_series.TimeSeries at 0x7f5effbe8370>])

In [33]:
# Change the name of the columns in the data frame
df.columns = df.columns+'_population'

# Find the mapping of the time series to its id
ts_to_id = client.time_series.list(data_set_ids=[data_set_id], limit=-1).to_pandas()[['name','id']].set_index('name')['id'].to_dict()

# Rename data frame so that columns correspond to the time seris id
df = df.rename(columns=ts_to_id)

df.head()

,1743611819981898,1076467877030158,7287895875443546,3051160058271065,8119193982373629,6441871508656048,3799878974691437,2573850347832443,3951589151203550,4801880051065120,...,5197352968019859,7104276752368489,7663422770659640,3491721636262267,4255762038472505,501265599905144,8683116680963244,1559936261890537,4157164586730559,7970629359618913
1990-01-01,62152.0,12412311.0,11848385.0,3286542.0,54508.0,1828437.0,32618648.0,3538164.0,47351.0,62533.0,...,17354395.0,51891400.0,3109598.0,20510000.0,103963.0,146575.0,162797.0,36800507.0,8036849.0,10432409.0
1991-01-01,64623.0,13299016.0,12248901.0,3266790.0,56666.0,1937159.0,33079002.0,3505249.0,48682.0,63363.0,...,17953534.0,52000500.0,3131657.0,20952000.0,104807.0,150718.0,164000.0,37718952.0,8246662.0,10681008.0
1992-01-01,68240.0,14485543.0,12657361.0,3247039.0,58882.0,2052892.0,33529320.0,3442820.0,49900.0,64459.0,...,18561668.0,52150400.0,3154459.0,21449000.0,105712.0,155176.0,165490.0,38672611.0,8451346.0,10900511.0
1993-01-01,72495.0,15816601.0,13075044.0,3227287.0,60974.0,2173135.0,33970103.0,3363111.0,51025.0,65777.0,...,19175986.0,52179200.0,3177734.0,21942000.0,106578.0,159743.0,167117.0,39633754.0,8656484.0,11092775.0
1994-01-01,76705.0,17075728.0,13503753.0,3207536.0,62676.0,2294377.0,34402669.0,3283664.0,52099.0,67201.0,...,19793541.0,51921400.0,3201149.0,22377000.0,107318.0,164128.0,168689.0,40564061.0,8869745.0,11261752.0

In [34]:
# Insert the population data as a dataframe
client.datapoints.insert_dataframe(df, dropna=True)

In [35]:
# Find the latest value for the population of Benin
client.datapoints.retrieve_latest(ts_to_id['Benin_population'])

In [36]:
# List all assets in Europe
assets = client.assets.list(data_set_ids=[data_set_id],parent_ids=[region_to_id['Europe']], limit=-1)

# List all time series of those assets
ts = client.time_series.list(data_set_ids=[data_set_id],asset_ids=[asset.id for asset in assets], limit=-1)

# Retrieve the latest data for all of these time series
data = client.datapoints.retrieve_latest([item.id for item in ts]).to_pandas()

data.head()

,341243902417193,738229187761245,1696930254138174,1842254717574791,2183379464251574,2230258722670301,2494468767063885,2640005654034677,2658229713050040,2871464963686590,...,6833942010842777,7070682077501629,7104276752368489,7482265016795204,7497066200430994,7979330735605335,8013998572874809,8119193982373629,8367431265434749,8376694158838264
2021-01-01,67499343.0,47326687.0,1883162.0,8956279.0,2065092.0,38254.0,10664568.0,17533405.0,1329254.0,49053.0,...,10299423.0,34010.0,43814581.0,6844078.0,143446060.0,11587882.0,10415811.0,77354.0,8697723.0,39520.0

In [38]:
# Perform a sum to evaluate whole population
data.T.sum()

2021-01-01    656621484.0
dtype: float64

## 4. Uploading Files

In [39]:
import os

# List all files and upload them
for item in os.listdir('../data/files'):
    country = item.split('.')[0]
    client.files.upload(f"../data/files/{item}", name=f"{country}_data_sheet",data_set_id=data_set_id, asset_ids=[country_to_id[country]])

In [40]:
# List all files related to Vanuatu
client.files.list(asset_ids=[country_to_id['Vanuatu']])

FileMetadataList([<cognite.client.data_classes.files.FileMetadata at 0x7f5efe4745b0>])

## 5. Adding events

In [55]:
# Read event data
df = pd.read_csv('../data/events.csv')
df.head()

,Dis No,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Event Name,Country,ISO,Region,Continent,Location,Origin,Start Year,Start Month,Start Day,End Year,End Month,End Day
0,2011-0159-ESP,Natural,Geophysical,Earthquake,Ground movement,NaN,Spain,ESP,Southern Europe,Europe,"Lorca municipality (Murcia district, Region de...",NaN,2011,5,11,2011,5,11
1,2010-0170-ISL,Natural,Geophysical,Volcanic activity,Ash fall,Eyjafjallajokull,Iceland,ISL,Northern Europe,Europe,"Fljotshlid, Eyjafjöll, and Landeyjar villages...",NaN,2010,3,1,2010,4,28
2,2010-0574-SRB,Natural,Geophysical,Earthquake,Ground movement,NaN,Serbia,SRB,Southern Europe,Europe,Kraljevo town (Raski Province),NaN,2010,11,3,2010,11,3
3,2012-0152-BGR,Natural,Geophysical,Earthquake,Ground movement,NaN,Bulgaria,BGR,Eastern Europe,Europe,"Pernik town (Pernik Province), Sofia town (Sof...",NaN,2012,5,22,2012,5,22
4,2013-0121-HUN,Natural,Geophysical,Earthquake,Ground movement,NaN,Hungary,HUN,Eastern Europe,Europe,Heves province,NaN,2013,4,14,2013,4,23

In [56]:
from cognite.client.data_classes import Event


store = []
# Cycle through each row
for _,row in df.iterrows():
    
    # Unpack the row
    _,_,_,Disaster_Type,Disaster_Subtype,_,Country,_,_,_,Location,_,Start_Year,Start_Month,Start_Day,End_Year,End_Month,End_Day = row
        
    # Create start and end datetimes
    start_date = pd.to_datetime(f'{Start_Year}-{Start_Month}-{int(Start_Day)}')
    end_date = pd.to_datetime(f'{End_Year}-{End_Month}-{int(End_Day)}')
    
    # Create metadata
    metadata = {'Location':Location}
    
    # Create the event and store
    event = Event(start_time=int(start_date.timestamp()*1000), end_time=int(end_date.timestamp()*1000),metadata=metadata,data_set_id=data_set_id, type=Disaster_Type, subtype=Disaster_Subtype, asset_ids=[country_to_id[Country]])
    store.append(event)

client.events.create(store)

EventList([<cognite.client.data_classes.events.Event at 0x7f5efccad300>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad240>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad090>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad3f0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad150>,
           <cognite.client.data_classes.events.Event at 0x7f5efccadab0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad630>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad390>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad1e0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad3c0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad120>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad0c0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccace20>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad0f0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccacfd0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad1b0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad330>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad6c0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad6f0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae590>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae770>,
           <cognite.client.data_classes.events.Event at 0x7f5efccad420>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae560>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae4a0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae6b0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae680>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae410>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae3e0>,
           <cognite.client.data_classes.events.Event at 0x7f5efccae5f0>])

In [57]:
client.events.list(data_set_ids=[data_set_id], type='Volcanic activity')

EventList([<cognite.client.data_classes.events.Event at 0x7f5efcb18dc0>,
           <cognite.client.data_classes.events.Event at 0x7f5efcb18a60>,
           <cognite.client.data_classes.events.Event at 0x7f5efcb18940>,
           <cognite.client.data_classes.events.Event at 0x7f5efcb189a0>])

## 6. Add Labels

In [58]:
client.labels.list()

LabelDefinitionList([<cognite.client.data_classes.labels.LabelDefinition at 0x7f5efcb18b20>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f5efcb18670>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f5efcb19270>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f5efcb19210>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f5efcb18580>,
                     <cognite.client.data_classes.labels.LabelDefinition at 0x7f5efcb185b0>])

In [59]:
for country in ['Norway','Canada','Latvia']:

    my_update = AssetUpdate(id=country_to_id[country]).labels.set('cold-countries')

    client.assets.update(my_update)

In [60]:
for country in ['Ghana','Qatar','Malaysia']:

    my_update = AssetUpdate(id=country_to_id[country]).labels.set('hot-countries')

    client.assets.update(my_update)

In [61]:
from cognite.client.data_classes import LabelFilter

my_filter = LabelFilter(contains_any=['cold-countries'])

client.assets.list(labels=my_filter,data_set_ids=[data_set_id])

AssetList([<cognite.client.data_classes.assets.Asset at 0x7f5efcb3cbe0>,
           <cognite.client.data_classes.assets.Asset at 0x7f5efcb3db40>,
           <cognite.client.data_classes.assets.Asset at 0x7f5efcb3d270>])

## 7. Final Task:  Clean-Up and Delete the Data in your Data Set

In [62]:
# Assets
all_assets = [asset.id for asset in client.assets.list(limit=-1, data_set_ids=[data_set_id])]
client.assets.delete(all_assets)

# Time series
all_time_series = [ts.id for ts in client.time_series.list(limit=-1, data_set_ids=[data_set_id])]
client.time_series.delete(all_time_series)

# Files
all_files = [file.id for file in client.files.list(limit=-1, data_set_ids=[data_set_id])]
client.files.delete(all_files)

# Events
all_events = [event.id for event in client.events.list(limit=-1, data_set_ids=[data_set_id])]
client.events.delete(all_events)

print('Success!')

Success!